.background {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width:800px; height:640px;
  border:2px solid red;
  background-color: black;
  transform: perspective(1500px) rotate3d(1,0,0, 35deg);
}

.player {
  position:relative; top:40px; left:400px;
  width:32px; height:32px;          
  background: url('../img/tank.png') 0 0;
  transform: perspective(1500px) rotate3d(1,0,0, -15deg);
}

.enemy {
  position:absolute;
  width:32px; height:32px;          
  background: url('../img/spaceInvader1.png') 0 0;
  transform: perspective(1500px) rotate3d(1,0,0, -15deg);

}

.playerShot {
  position:absolute;
  width:3px; height:6px;          
  background-color: lawngreen;
}

.enemyShot {
  position:absolute;
  width:4px; height:8px;          
  background-color: white;
}

.score {
  position:relative;
  font-size: 150%;
  color: black;
}

.highScoreText {
  font-size: 200%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-80px;
  margin-top:-300px;
  color: white;
  transform: perspective(1500px) rotate3d(1,0,0, -15deg);
}

.gameOverText {
  font-size: 500%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-150px;
  margin-top:-100px;
  color: red;
  transform: perspective(1500px) rotate3d(1,0,0, -15deg);
}

.gameWinText {
  font-size: 500%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-260px;
  margin-top:-100px;
  color: white;
  transform: perspective(1500px) rotate3d(1,0,0, -15deg);
}

.finalScoreText {
  font-size: 180%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-10px;
  color: white;
  transform: perspective(1500px) rotate3d(1,0,0, -15deg);
}

.waitNextTurn {
  font-size: 200%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-150px;
  margin-top:100px;
  color: white;
  transform: perspective(1500px) rotate3d(1,0,0, -15deg);
}

.endButton {
  margin-left:360px;
  margin-top:370px;
  color: black;
  transform: perspective(1500px) rotate3d(1,0,0, -15deg);
}