.background {
  position:relative;
  width:800px; height:640px;
  border:2px solid red;
}

.player {
  position:absolute; top:40px; left:400px;
  width:32px; height:32px;          
  background-color:black;
}

.enemy {
  position:absolute;
  width:32px; height:32px;          
  background-color: green;
}

.playerShot {
  position:absolute;
  width:3px; height:6px;          
  background-color:black;
}

.enemyShot {
  position:absolute;
  width:4px; height:8px;          
  background-color: green;
}

.score {
  font-size: 150%;
  color: black;
}

.highScoreText {
  font-size: 200%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-70px;
  margin-top:-300px;
  color: black;
}

.gameOverText {
  font-size: 500%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-150px;
  margin-top:-100px;
  color: red;
}

.finalScoreText {
  font-size: 200%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-10px;
  color: black;
}